/* Color Theme Swatches in Hex */
/*vexRed { color: red; }*/
/*vexBlack{ color: #1F2226; }*/
/*vexWhite { color: whitesmoke}*/

body {
    background-color: #1F2226;
}

h1, h2 {
    color: #F20505;
    text-align: center;
    font-family: "Oxanium", Arial, sans-serif;
}

h3 {
    color: #F20505;
    font-family: "Oxanium", Arial, sans-serif;
}


img {
    width: 20%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

form {
    color: whitesmoke;
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;
    text-align: center;
}

p {
  color: whitesmoke;
    font-family: "Open Sans", Arial, sans-serif;
}

input[type=number], input[type=text], select {
    margin-top: 1%;
    font-family: "Open Sans", Arial, sans-serif;
}

input[type=number] {
    width: 50px;
}

.button {
    background-color: #D90416;
    font-size: 24px;
    padding: 14px 40px;
    color: whitesmoke;
    border: 2px solid #D90416;
    margin: 2% 2%;
    font-family: "Oxanium", Arial, sans-serif;
    text-align: center;
}

.button.add {
    padding: 0 0;
    height: 50px;
    width: 50px;
}

.submit {
text-align: center;
}

.buttonGroup {

    display: block;
    text-align:center;
}

.tabs {
    text-align: center;
}

.material-icons {
    color: #F20505;
    font-size: 48px;
    padding-left: 25px;
    padding-right: 25px;
}

.material-icons.current {
    color: #8C0303;
}

#comments {
    width: 50%;
}

.cube, .tower {
    width: 100px;
    height: auto;
}

.row {
    display: flex;
}

.column {
    flex: 33%;
    padding: 5px;
}

.buttonColumn {
    flex: 16%;
    padding: 5px;
}

.column two{
    flex: 50%;
    padding: 5px;
}

img {
    height: 150px;
    width: auto;
}